p{color:black;}
body{background-image: url(../img/pattern\ -\ Salin.jpg);   }

header{background-color: white;display: flex;justify-content: space-between;}
section{margin-left:  20%;margin-right: 20%;background-color: white;padding-left: 2%;padding-right: 2%;}
footer{text-align:center; background-color: black;color: white;padding: 1px;}
h1{text-align: center;color: black;padding-top: 10%;}
h3{ color: rgb(131,2,109);display: block;}
ul{list-style: none;display: flex;justify-content: flex-end;margin-right: 2px;}
li{margin: 5px; display: inline;}